
            body {
                height: 100%;
                width:100%
                }
            #map {
                  height: 90vh;
                }
            .form-control{
                margin-left:30px;
                width:70%;
                margin-bottom: 10
                
            }
            h1{
                text-align: center;
            }
.w3-sidebar {
   padding-top: 93;
    width:300;

}
/*
#close {
        display: none;
    }
*/

@media screen and (max-width: 480px) {
    #mySidebar{
        display: none;
        width:300 !important;
    }
}
