
body {
    height: 100%;
    width:100%
    }
#map {
    height: 90vh;
    }
.form-control{
    margin: 15;
    width:90%;
    display: block; 
    }
h3{
text-align: center;
    }

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
